.checkbox_container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1vh;
  }
  
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    background-color: #eee;
}

.checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox_container input:checked ~ .checkmark {
    background-color: #38a6ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
